@import 'tailwindcss';

@plugin 'tailwind-scrollbar';
@plugin 'tailwindcss-animate';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-inverted: var(--background-inverted);
  --color-foreground-inverted: var(--foreground-inverted);

  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  --container-8xl: 1536px; /* 96rem = 1536px */
}

@layer base {
  :root {
    --background: #ffffff;
    --background-inverted: #171717;
    --foreground: #171717;
    --foreground-inverted: #ffffff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --background-inverted: #ededed;
      --foreground: #ededed;
      --foreground-inverted: #0a0a0a;
    }
  }

  h1 {
    @apply font-poppins;
    @apply text-4xl;
    @apply sm:text-5xl;
  }
  h2 {
    @apply font-poppins;
    @apply text-2xl;
    @apply sm:text-3xl;
  }
  h3 {
    @apply font-poppins;
    @apply text-xl;
    @apply sm:text-2xl;
  }
  h4 {
    @apply font-poppins;
    @apply text-lg;
  }

  body {
    @apply text-foreground bg-background;
  }
}

/* Base border color compatibility */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }

  .animate-aurora {
    animation: aurora 60s linear infinite;
  }
}
