@import 'tailwindcss';

@plugin 'tailwind-scrollbar' {
  /* biome-ignore lint/correctness/noUnknownProperty: https://adoxography.github.io/tailwind-scrollbar/getting-started#nocompatible */
  nocompatible: true;
  /* biome-ignore lint/correctness/noUnknownProperty: https://adoxography.github.io/tailwind-scrollbar/getting-started#preferredstrategy */
  preferredstrategy: 'pseudoelements';
}

/* https://base-ui.com/react/overview/quick-start#set-up-portals*/
#root {
  isolation: isolate;
}

@theme {
  --breakpoint-3xl: 160rem;
  --spacing-8xl: 160rem;
}

h1 {
  @apply text-5xl font-medium;
}
